.me-auto {
    padding: 10px;
    margin: 1px;
    box-shadow:0 0 15px 4px rgba(5,10,20,30.06);
    border-radius:15px;
    width: 100%;
    text-align: center;
    border: 5;
    text-transform: uppercase;
}

.vstack {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
    padding: 35px;
    margin: 20px;
}