/* 
    General Styles used on every website (Don't Repeat Yourself)
*/

body {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 1rem;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

#app {
  font-family: "Baloo Tammudu 2", sans-serif;
  background-color: #283340;
  color: #e2e8f0;
  width: 100%;
}
.navbar {
  height: 100px;
  background-color: rgb(38, 40, 46);
}
.dropdown-item {
  color: #e2e8f0;
}
.dropdown-menu {
  background-color: rgb(38, 40, 46);
  box-shadow: 0 0 100px 4px #283340;
  border-radius: 10px;
}
.loginCard {
  background-color: #283340;
}
.loginCard input {
  background-color: #283340;
}
.form-control:focus {
  background-color: #283340;
  color: #e2e8f0;
}
.form-control {
  color: #e2e8f0;
}
.nav-link {
  color: #e2e8f0;
}
.nav-pills .nav-link.active {
  background-color: #283340;
  border-bottom: 2px solid #255da7;
  color: #255da7;
}
.nav-pills .nav-link:hover {
  color: #255da7;
}
.me-auto {
  padding: 10px;
  margin: 1px;
  box-shadow:0 0 15px 4px rgba(5,10,20,30.06);
  border-radius:15px;
  width: 100%;
  text-align: center;
  border: 5;
  text-transform: uppercase;
}

.vstack {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-end;
  padding: 35px;
  margin: 20px;
}
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 1px;
  box-shadow:0 0 15px 4px rgba(5,10,20,30.06);
  border-radius:15px;
  width: 100%;
  text-transform: uppercase;
}